* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #272727;
  --main-txt-color: #e2e2e2;
  --main-color: #45c195;
}
body {
  background-color: var(--background-color);
  color: var(--main-txt-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: var(--main-txt-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
  text-align: center;
  margin: 1rem 0;
  color: var(--main-txt-color);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.8rem;
}
a {
  color: var(--main-txt-color);
  text-decoration: none;
}
a:hover {
  color: var(--main-color);
}
.txt-bold {
  font-weight: 900;
}
header {
  display: flex;
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
  background-color: rgba(39, 39, 39, 0.9);
  box-shadow: 0px 1px 3px #fff;
}
.cv {
  width: 30%;
  display: grid;
  justify-content: center;
}
.cv a {
  color: var(--main-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}
.cv a:hover {
  color: var(--main-txt-color);
}
.cv a i {
  margin: 0 0.5rem;
  font-size: 1.5rem;
}
.nav {
  flex: 70%;
  display: flex;
}
.nav-menu {
  padding-left: 0;
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}
.nav-menu li {
  padding-right: 1.5rem;
  text-transform: uppercase;
}
.nav-menu li a {
  font-size: 1.5rem;
  color: var(--main-txt-color);
  text-decoration: none;
}
.nav-menu li a:hover {
  color: var(--main-color);
}
.introduction-wrapper {
  height: 100vh;
}
.introduction {
  height: 100%;
  padding-top: 40vh;
  overflow: hidden;
  align-items: center;
  text-align: center;
  background: linear-gradient(
      to top,
      rgba(39, 39, 39, 0.9),
      rgba(39, 39, 39, 0.3)
    ),
    url(../images/annad.jpg);
  background-size: cover;
  background-position-y: top;
}
.introduction-name {
  font-size: 4rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--main-txt-color);
}
.introduction-name-last {
  color: var(--main-color);
}
.about-me {
  padding: 10vh 3rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}
.about-me-introduction {
  flex: 98%;
  padding: 1rem;
  margin: 1%;
  line-height: 2rem;
  background: #0e0e0e;
}
.skills {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-items: stretch;
  align-items: center;
}
.card-about {
  flex: 48%;
  padding: 1rem;
  margin: 1%;
  line-height: 2rem;
  background: #0e0e0e;
}
.card-about h3 {
  text-align: center;
  margin: 1rem 0;
  color: var(--main-color);
}
.card-about ul {
  list-style: none;
  padding: 0;
}
.card-about ul li::before {
  content: "";
  display: inline-block;
  color: var(--main-color);
  height: 1rem;
  width: 0.4rem;
  margin-right: 1rem;
  border-style: solid;
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}
.my-projects {
  padding: 10vh 3rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}
.card-project {
  background: linear-gradient(to right, #272727, #272727bf),
    url(../images/code.jpg) center top;
  background-size: cover;
  height: 40vh;
  flex: 30%;
  margin: 1.5%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  color: var(--main-color);
  border: 1px solid var(--main-txt-color);
  position: relative;
}
.card-project:hover::before {
  display: block;
}
.card-project:hover a {
  z-index: 2;
  color: var(--background-color);
}
.card-project:hover a:hover {
  color: var(--main-txt-color);
}
.card-project::before {
  display: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 40vh;
  background-color: var(--main-color);
  opacity: 0.9;
  animation: hover-card-project 0.5s linear;
}
@keyframes hover-card-project {
  0% {
    height: 25%;
  }
  25% {
    height: 50%;
  }
  50% {
    height: 75%;
  }
  100% {
    height: 100%;
  }
}
.contact {
  padding: 10vh 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-template-areas:
    "heading heading"
    "text-me call-me";
}
.contact h3 {
  grid-area: heading;
}
.text-me {
  grid-area: text-me;
}
.call-me {
  grid-area: call-me;
}
.contact-subheading {
  text-align: center;
  color: var(--main-color);
}
.text-me,
.call-me {
  font-size: 1.2rem;
  line-height: 3rem;
}
.text-me i,
.call-me i {
  margin: 0 20px;
  color: #46c195;
}
.social-icons {
  position: fixed;
  bottom: 1rem;
  left: 0.2rem;
  display: flex;
  flex-direction: column;
}
.social-icons a {
  color: var(--main-txt-color);
  padding: 0.4rem;
  transition: all 0.3s ease-in-out;
}
.social-icons a:hover {
  color: var(--main-color);
}
.social-icons.right-vertical-align {
  display: flex;
  flex-direction: column;
}

/* PROGRESS BAR */

progress,
progress::-webkit-progress-bar {
  width: 100%;
  appearance: none;
  border: none;
  height: 1rem;
  border-radius: 4px;
  background-color: var(--main-txt-color);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
  color: var(--main-color);
}

progress::-webkit-progress-value {
  border-radius: 3px;
  background-image: -webkit-linear-gradient(left, #255f85, #46c195);
}
progress:after {
  content: attr(value) "%";
  position: relative;
  top: -1.6rem;
  right: -5%;
  font-size: 12px;
  color: #000;
}
